{{#if arguments.length}}
### Arguments

| Name | Type | Description |
| :--- | :--- | :--- |
{{#each arguments}}
| <span class="gql-field">{{name}}</span> | {{> type type}} | {{#if description}}<span
    class="gql-description">{{description}}</span>{{else}}-{{/if}} |
{{/each}}
{{/if}}